

.movie-details-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #fff;
  margin-left: 6.4vw;
  
}

.movie-details {
  max-width: 100vw;
  overflow-x: hidden;
  flex: 1;
}

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner::before,
.banner::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
}

.banner::before {
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.banner::after {
  bottom: 0;
  height: 100px;
  background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
}

.movie-content {
  max-width: 100vw;
  margin: -200px auto 0;
  position: relative;
  padding: 0 2rem;
  display: flex;
  align-items: flex-start;
  overflow-x: hidden;
}

.movie-content__poster {
  flex: 1;
}

.movie-content__poster__img {
  background: center / cover no-repeat;
  border-radius: 30px;
  padding-top: 165%;
}

.movie-content__info {
  width: 70%;
  padding-left: 2rem;
  position: relative;
}

.movie-content__info > * {
  margin-bottom: 2rem;
}

.title {
  font-size: 4rem;
  line-height: 1;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.genres__item {
  flex: 0 0 auto;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 1.5rem;
  border: 2px solid #fff;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 600;
  background-color: #0f0f0f;
}

.casts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  gap: 10px;
}

.casts__item__img {
  padding-top: 160px;
  background-size: cover;
  margin-bottom: 0.5rem;
}

.casts__item__name {
  font-size: 0.8rem;
}

.video-section {
  margin-bottom: 3rem;
}

.video__title {
  margin-bottom: 1.5rem;
}

.similar-movies {
  margin-top: 3rem;
  max-width: 100vw;
  overflow-x: hidden;
}

.similar-movies .head {
  margin-bottom: 1rem;
}

.similar-movies-list {
  display: flex;
  overflow-x: auto;
}

.similar-movie {
  flex: 0 0 auto;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.similar-movie img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.5rem;
}

.similar-movie p {
  font-size: 0.8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
