 @import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
 

.top {
    height: 10vh;
    width: calc(100vw - 16px);
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    margin-bottom: 20vh;

}



