

.trending {
  width: calc(100vw - 16px);
  height: 360px;
  margin-top: 32px; 
  border: 1px solid red;
  

}

.head {
  width: calc(100vw-20);
  height: 60px;
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;    
  border: 1px solid blue;                            
}



.swiper-slide {
  flex: 0 0 auto;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: rgb(207, 193, 193);
}

.swiper-slide img {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  transition: transform 0.3s ease; 
}

.swiper-slide p {
  text-align: center;
  margin-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.swiper-slide:hover img {
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .swiper-slide {
    max-width: 100%;
  }
}


.btn-content {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 4px 12px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 16px; /* Adjust font size as needed */
  color: #ffffff;
  background: #ff145b80;
  transition: 1s;
  border-radius: 16px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover,
.btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}



@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

